#rojo {
    background-color: red;
    border: 2px solid black;
    width: 2em;
    height: 2em;
}

#verde {
    background-color: green;
    border: 2px solid black;
    width: 2em;
    height: 2em;
}

#azul {
    background-color: blue;
    border: 2px solid black;
    width: 2em;
    height: 2em;
}