/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Cinzel Decorative', cursive;*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.holder {
    width: 1024px;
    margin: auto;
}

header{
    position: fixed;
    width: 100%;
    margin: auto;   
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    opacity: 95%;
        
}

header h1{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    float: right;
    
}

.icono{
    width: 100px;
}

nav{
    
    border-top: 1px solid darkgray;
    margin-top: 0.8em;
    padding-top: 0.3em;
    
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    width: 15%;
    text-align: center;
    border-radius: 0.5em;
    
}

nav ul li.activo{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

nav ul li:hover{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    
}
 
.espacio{
    height: 8em;
}

footer {
    padding-bottom: 1em;
    width: 100%;
   
        
}

.holder-pie{
    padding-top: 0.3em;
    margin: auto;
    width: 1024px;
    display: flex;
    
}

.columna-d{
    width: 50%;
    height: 8em;
    border-right: 1px solid darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;

}

.columna-i{
    width: 50%;
    height: 8em;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.columna-i li{
    font-size: 0.8em;
    list-style: none;
}

.pie{
    border-top: 1px solid darkgray;
    
    
    
}

/*index*/

.carrusel{
    max-width: 1600px;
    margin: auto;
    margin-bottom: 2em;

}   

.detalle {
    background-color: black;
    padding: 1em;
    margin-bottom: 2em;
    max-width: 100%;
    text-align: center;
}

.detalle h3 {
    color: white;
}

.detalle p{
    font-weight: 100;
    color: white;
}

/*fin index*/

/*habitaciones*/

.habitacion{
    display: flex;
    justify-content: space-around;
    padding: 1em 0em 1em 0em;
    margin-bottom: 1em;
    border: 1px solid darkgray;
}

.caracteristicas{
    text-align: center;
    width: 400px;
       
}

.caracteristicas ul{
    list-style: circle;
    text-align: left;
    line-height: 2em;
    font-weight: 100;
    margin-bottom: 4em;
}


.boton {
    font-size: 1em;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 5px solid black;
           
}

/*fin habitaciones*/

/*servicios*/

.servicios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.servdetalle {
    margin-bottom: 1em;
    border: 1px solid darkgray;
    text-align: center;
    width: 300px;
    height: 400px;
    
}

.servdetalle p{
    font-weight: 100;
    text-align: left;
    margin: 1.5em;
}

/*fin servicios*/